*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.big-container{
	padding: 5px;
	margin: 5px;
	border: 2px solid #777;
}

.calendario-titulo{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 5px;
	border: 2px solid #777;
	justify-items: center;
	align-items: center;

}

.calendario-liga{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 5px;
	border: 2px solid #777;
	justify-items: center;
	align-items: center;
}

/*.calendario-liga > h2{
	grid-column: 1 / span 4;
}*/