*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


.big-container{
	display: grid;
	justify-content: center;
	min-height: 95vh;
	min-width: 90vw;
	padding: 20px;
	margin: 5px;
	background: #61cf6c;
	border-radius: 20px;
}

.inscripcion{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 10;
	text-align: justify;
	border: 2px solid #000;
	border-radius: 20px;
	max-height: 90vh;
	max-width: 50vw;
	overflow: hidden;
	background: #fff;
	justify-content: space-evenly;
}


.inscripcion > p{
	padding: 5px;
	margin: 5px;
	font-size: 2em;
}

form > input{
	align-content: flex-end;
	justify-content: flex-end;
}